@font-face {
    src: url('../../assets/Fonts/NotoNastaliqUrdu-Bold.ttf')  format('ttf') local(NotoNastaliq);
}

body {
    background-color: #c2c2c2;
    font-family: 'NotoNastaliq', Helvetica, serif;
    margin: 0%;
}

.header {
    background: #e8e8e8;
    width: 100%;
    height: 24.7rem;
    position: relative;
}

.banner {
    width: 100%;
    height: 100%;
}

.header-text {
    text-align: right;
    width: 60%;
    position: absolute;
    top: 10%;
    right: 10%;
    color: black;
}

.header-text h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    margin-right: 10%;
    margin-block-start: 0.67rem;
    margin-block-end: 0rem;
}

.defination {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #918f8f;
    margin-right: 11%;
    margin-block-start: 0rem;
    margin-bottom: 10%;
}

.header-text h2 {
    margin-right: 11%;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: #918f8f;
    font-style: italic;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
