.navBar{
    background: #E8E8E8;
    direction: rtl;
}

.brand{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.navbarCollapse {
    display: flex;
}

.nav {
    font-size: 1rem;
}

.navLink {
    margin: 0px 1rem;
    
}

.form {

}

.search {
    font-size: 1rem;
    background: none;
    padding: 0.6rem 1rem 0.6rem 4rem;
    border: 1px solid #2E2C35;
    border-radius: 5px;
    margin-right: 10px;

}
