.card {
    border: 3px solid #2E2C35 !important; 
    width: 12rem !important;
    border-radius: 5% !important;
    background-color: #e8e8e8 !important;
    align-items: center !important;
}

.title {
    font-size: large !important;
    line-height: 2rem !important;
    padding: 2px;
}